# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point). e.g. #!include:.gitignore
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
node_modules/
coverage/
build/
.env
.env.sample
.gcloudignore
.git
.gitignore
.nvmrc
.prettierignore
.prettierrc
eslint.config.mjs
jest.config.ts
notes.md
readme.md
setupTests.ts
__test__
__testUtils__
